.control {
    display: flex;
    align-items: center;
    gap: 8px;
    &__key {
        height: 56px;
        @include tablet-and-mobile {
            height: 48px;
        }
    }
    &__label {
        @include typographies(subtitle);
    }
}