.dices {
  width: fit-content;
  position: relative;
  margin: auto;
  gap: 8px;
  @include tablet-and-mobile {
    order: 2;
  }
  &__list {
    display: flex;
    gap: 8px;
  }
  &__showBtn {
    position: absolute;
    right: 0px;
    bottom: -20px;
    @include typographies(body);
    background-color: transparent;
    color: $basic-white;
    align-self: flex-end;
    border: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    &:hover {
        color: $highlight-secondary;
    }
  }
}
