.music {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__label {
    @include typographies(subtitle);
  }
  &__player {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    & svg {
      height: 56px;
      width: 56px;
      cursor: pointer;
      fill: $basic-white;
      &.next {
        transform: rotate(90deg);
      }
      &.prev {
        transform: rotate(-90deg) scaleX(-1);
      }
      @include tablet-and-mobile {
        height: 48px;
        width: 48px;
      }
      &:hover {
        fill: $neutral-secondary;
      }
    }
  }
}
