.music {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__label {
    @include typographies(subtitle);
  }
  &__player {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    & svg {
      height: 56px;
      width: 56px;
      cursor: pointer;
      stroke: $basic-white;
      @include tablet-and-mobile {
        height: 48px;
        width: 48px;
      }
      &:hover {
        stroke: $neutral-secondary;
      }
    }
  }
}
