.navbar {
    list-style: none;
    display: flex;
    @include typographies(subtitle);
    gap: 32px;
    &__item {
        cursor: pointer;
        transition: border-bottom 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid $basic-white;
        }
        &.active {
            border-bottom: 2px solid $basic-white;
        }
    }
    &.active {
        z-index: 150;
    }
}