.soundEffects {
  @include menu-component;
  &__mute {
    height: 56px;
    margin-right: 16px;
    cursor: pointer;
    stroke: $basic-white;
    @include tablet-and-mobile {
      height: 48px;
    }
    &:hover {
      stroke: $neutral-secondary;
    }
  }
}
