// @keyframes roll {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(180deg);
//     }
// }

@keyframes neon {
  0% {
    color: $basic-white;
  }
  95% {
    color: $highlight-secondary;
  }
  100% {
    color: $basic-white;
  }
}
