@keyframes neon {
  0% {
    color: $basic-white;
  }
  95% {
    color: $highlight-secondary;
  }
  100% {
    color: $basic-white;
  }
}

@keyframes neon-shadow-1 {
  0% {
    text-shadow: 0 0 10px $basic-white;
  }
  20% {
    text-shadow: 0 0 0px $basic-white;
  }
  100% {
    text-shadow: 0 0 0px $basic-white;
  }
}

@keyframes neon-shadow-2 {
  0% {
    text-shadow: 0 0 10px $basic-white;
  }
  15% {
    text-shadow: 0 0 10px $basic-white;
  }
  35% {
    text-shadow: 0 0 0px $basic-white;
  }
  100% {
    text-shadow: 0 0 0px $basic-white;
  }
}

@keyframes neon-shadow-3 {
  0% {
    text-shadow: 0 0 10px $basic-white;
  }
  30% {
    text-shadow: 0 0 10px $basic-white;
  }
  50% {
    text-shadow: 0 0 0px $basic-white;
  }
  100% {
    text-shadow: 0 0 0px $basic-white;
  }
}

@keyframes neon-shadow-4 {
  0% {
    text-shadow: 0 0 10px $basic-white;
  }
  45% {
    text-shadow: 0 0 10px $basic-white;
  }
  65% {
    text-shadow: 0 0 0px $basic-white;
  }
  100% {
    text-shadow: 0 0 0px $basic-white;
  }
}

@keyframes neon-shadow-5 {
  0% {
    text-shadow: 0 0 10px $basic-white;
  }
  60% {
    text-shadow: 0 0 10px $basic-white;
  }
  80% {
    text-shadow: 0 0 0px $basic-white;
  }
  100% {
    text-shadow: 0 0 0px $basic-white;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px $highlight-secondary;
  }
  100% {
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0);
  }
}
