@mixin tablet-and-mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin typographies($type) {
  $typography: map-get($typographies, $type);
  @each $attribute, $val in $typography {
    #{$attribute}: #{$val};
  }
  @include tablet-and-mobile {
    $typography: map-get($mobile-typographies, $type);
    @each $attribute, $val in $typography {
      #{$attribute}: #{$val};
    }
  }
}

// @mixin mobile-typographies($type) {
//   $mobile-typography: map-get($mobile-typographies, $type);
//   @each $attribute, $val in $mobile-typography {
//     #{$attribute}: #{$val};
//   }
// }

@mixin button(
  $width: $button-width,
  $height: $button-height,
  $color: $highlight-secondary
) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid $color;
  border-radius: 24px;
  @include typographies(title);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  &:hover {
    background-color: $color;
  }
}

@mixin message-window(
  $primary-color: $neutral-primary,
  $secondary-color: $neutral-secondary
) {
  width: $message-planel-width;
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  gap: 16px;
  background-color: $primary-color;
  border: 3px solid $secondary-color;
  border-radius: 32px;
  @include tablet-and-mobile {
    width: $mobile-message-planel-width;
    max-width: $mobile-game-table-width * 0.9;
    border-radius: 24px;
    padding: 24px 16px;
  }
}

@mixin arrow-btn($color: $basic-white, $hovered-color: $neutral-secondary) {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  fill: $color;
  transition: fill 0.15s ease-in-out;
  @include tablet-and-mobile {
    width: 23px;
    height: 23px;
  }
  &:hover {
    fill: $hovered-color;
  }
}

@mixin arrows-selector(
  $color: $basic-white,
  $hovered-color: $neutral-secondary,
  $direction: vertical,
  $position: first
) {
  &__firstArrow {
    @include arrow-btn($color, $hovered-color);
    @if $direction == vertical {
      transform: rotate(180deg);
    } @else if $direction == horizontal {
      transform: rotate(-90deg);
    }
    @include tablet-and-mobile {
      align-self: end;
      &.first {
        grid-column: 1;
        grid-row: 2 / 3;
      }
      &.last {
        grid-column: -1;
        grid-row: 2 / 3;
      }
    }
  }
  &__secondArrow {
    @include arrow-btn($color, $hovered-color);
    @if $direction == vertical {
      transform: rotate(0deg);
    } @else if $direction == horizontal {
      transform: rotate(90deg);
    }
    @include tablet-and-mobile {
      align-self: start;
      &.first {
        grid-column: 1;
        grid-row: 1 / 2;
      }
      &.last {
        grid-column: -1;
        grid-row: 1 / 2;
      }
    }
  }
}

@mixin menu {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  &__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $neutral-primary;
    opacity: 0.5;
  }
  &__window {
    @include message-window;
    height: fit-content;
    margin: 112px 0 64px;
    width: fit-content;
    position: relative;
    @include tablet-and-mobile {
      margin: 72px 0 64px;
    }
  }
  &__header {
    width: 100%;
    @include typographies(header);
    white-space: nowrap;
    text-align: center;
    margin-bottom: 16px;
    @include tablet-and-mobile {
      margin-bottom: 8px;
    }
  }
  &__okBtn {
    align-self: end;
    margin-top: 16px;
    @include button($ok-button-width, $ok-button-height, $neutral-secondary);
    color: $basic-white;
    @include tablet-and-mobile {
      @include button(
        $mobile-ok-button-width,
        $mobile-ok-button-height,
        $neutral-secondary
      );
      margin-top: 8px;
    }
  }
}

@mixin menu-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 32px;
  @include tablet-and-mobile {
    gap: 8px;
  }
  &__label {
    @include typographies(subtitle);
  }
}

@mixin number-container {
  &__numberContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }
  &__number {
    width: 56px;
    height: 56px;
    border: 3px solid $basic-white;
    border-radius: 8px;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    @include typographies(title);
    @include tablet-and-mobile {
      width: 48px;
      height: 48px;
    }
  }
  @include arrows-selector;
}
