// $color-primary: rgb(21,122,116);

$basic-black: black;
$basic-white: white;

$neutral-primary: #0e0e0e;
$neutral-secondary: #282828;
$neutral-tertiary: #fafafa;

$highlight-primary: #18a4ad;
$highlight-secondary: #5dd3da;

$wrong-primary: #801313;
$wrong-secondary: #c62121;

$right-primary: #228013;
$right-secondary: #56c621;

$button-width: 144px;
$button-height: 48px;
