$basic-black: black;
$basic-white: white;

$basic-gold: rgb(255, 217, 0);
$basic-silver: rgb(190, 190, 190);
$basic-bronze: rgb(216, 148, 0);

$neutral-primary: #0e0e0e;
$neutral-secondary: #282828;
$neutral-tertiary: #fafafa;

$highlight-primary: #18a4ad;
$highlight-secondary: #5dd3da;

$wrong-primary: #801313;
$wrong-secondary: #c62121;

$right-primary: #228013;
$right-secondary: #56c621;

$player-panel-width: 640px;
$player-panel-height: 248px;
$player-panel-height-expanded: 328px;
$mobile-player-panel-width: 288px;
$mobile-player-panel-height: 265px;
$mobile-player-panel-height-expanded: 446px;

$message-planel-width: 440px;
$mobile-message-planel-width: 288px;

$player-grid-height: 178px;
$mobile-player-grid-height: 219px;
$mobile-player-grid-height-expanded: 229px;

$button-width: 144px;
$button-height: 48px;
$mobile-button-width: 120px;
$mobile-button-height: 40px;

$ok-button-width: 80px;
$ok-button-height: 40px;
$mobile-ok-button-width: 64px;
$mobile-ok-button-height: 32px;

$next-turn-button-width: 192px;
$next-turn-button-height: 48px;

$neon-delay: 0.1s;

$mobile-game-table-width: 600px;

$dice-face-1: url(../../Assets/Images/DiceFace1.png);
$dice-face-2: url(../../Assets/Images/DiceFace2.png);
$dice-face-3: url(../../Assets/Images/DiceFace3.png);
$dice-face-4: url(../../Assets/Images/DiceFace4.png);
$dice-face-5: url(../../Assets/Images/DiceFace5.png);
$dice-face-6: url(../../Assets/Images/DiceFace6.png);
$dice-face-empty: url(../../Assets/Images/DiceFaceEmpty.png);
