.homePage {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-image: url('../../Assets/Images/leaf-background.png');
  background-size: clamp(450px, 100vw, 1600px);
  background-repeat: no-repeat;
  background-position-x: -40vw;
  background-position-y: -100px;
  background-color: $neutral-primary;
  opacity: 1;
  @include tablet-and-mobile {
    background-size: 800px;
    background-position-x: center;
  }
  &.inTransition {
    transition: background-position-x 0.6s ease-in-out,
      opacity 0.4s 0.4s ease-in;
    opacity: 0;
    background-position-x: -1200px;
    @include tablet-and-mobile {
      transition: background-position-y 0.6s ease-in-out,
        opacity 0.4s 0.4s ease-in;
      background-position-x: center;
      background-position-y: 1200px;
    }
  }
  &__headerContainer {
    position: absolute;
    z-index: 210;
    top: 5vh;
    bottom: 25vh;
    left: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include tablet-and-mobile {
      position: relative;
      left: 0;
      top: 96px;
    }
    &.inTransition {
      transition: left 0.6s 0.2s ease-in-out, opacity 0.4s 0.4s ease-in;
      opacity: 0;
      left: -1200px;
      @include tablet-and-mobile {
        transition: top 0.6s 0.2s ease-in-out, opacity 0.4s 0.4s ease-in;
        left: 0;
        top: 1200px;
      }
    }
  }
  &__header {
    @include typographies(header);
    font-size: clamp(55px, 15vw, 200px);
    line-height: clamp(55px, 15vw, 200px);
    text-shadow: 8px 8px 16px $basic-black;
    text-align: center;
    white-space: pre-wrap;
    @include tablet-and-mobile {
      font-size: clamp(80px, 25vw, 120px);
      line-height: clamp(80px, 25vw, 120px);
    }
  }
  &__logoContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet-and-mobile {
      display: none;
    }
    &.inTransition {
      transition: right 0.6s ease-in-out, opacity 0.4s 0.4s ease-in;
      opacity: 0;
      right: -1200px;
    }
  }
  &__logo {
    height: fit-content;
    width: clamp(170px, 42vw, 650px);
  }
}
