*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: $neutral-primary;
  color: $basic-white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  background-image: url('../../Assets/Images/leafBackground.png');
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position-x: center;
  @include tablet-and-mobile {
    background-size: 800px;
    background-position-y: -100px;
  }
}
