*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

// button,
// input,
// optgroup,
// select,
// textarea,
// html input[type=button],
// input[type=reset],
// input[type=submit],
// button[disabled],
// html input[disabled],
// button::-moz-focus-inner,
// input::-moz-focus-inner,
// input[type=checkbox],
// input[type=radio],
// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button,
// input[type=search],
// input[type=search]::-webkit-search-cancel-button,
// input[type=search]::-webkit-search-decoration {
//   border: none;
//   background-image: none;
//   background-color: transparent;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
// }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: $neutral-primary;
  color: $basic-white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  background-image: url('../../Assets/Images/leafBackground.png');
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position-x: center;
  @include tablet-and-mobile {
    background-size: 800px;
    background-position-y: -100px;
  }
}
